*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

header{
    background: url("hero.jpg");
    width: 100%;
    height: 641px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header nav{
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-between;
}

.icono{
    display: none;
}

.enlaces{
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 4px 0;
    transition: 0.7s ease-out;
    color: white;
    text-decoration: none;
}

.enlaces a:hover, .active{
    border-top: 2px solid palevioletred;
    border-bottom: 2px solid palevioletred;
}

nav .logo{
    height: 100%;
    background: white;
    margin-left: 80px;
}
nav .logo img{
    object-fit: cover;
    height: inherit;
}

header .textos{
    text-align: center;
    color: white;
    margin-top: 150px;
}

header .textos h1{
    font-size: 95px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 10px;
}
header .textos h2{
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width:1100px){
    .icono{
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        color: white;
        background: transparent;
        padding: 20px;
        z-index: 100;
        cursor: pointer;
        margin-right: 40px;
    }

    header .textos h1{
        font-size: 75px;

    }

    .enlaces{
        position: fixed;
        height: 100vh;
        right: 0;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease;
        background: #e1eec3;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}